### IntelliJ IDEA ###
.idea/
*.iml
out/

### Maven ###
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Logs ###
*.log

### Environment Files ###
.env
.env.*

### OS Files ###
Thumbs.db